.mark {
	border-left-style: solid;
	border-left-width: 7px;
}

.mark-excellent {
	border-left-color: #5bff32;
}

.mark-good {
	border-left-color: #fbff3d;
}

.mark-average {
	border-left-color: #d46922;
}

.mark-bad {
	border-left-color: #f73b3b;
}

.mark-excluded {
	border-left-color: #cccccc;
}