html {
	position: relative;
	min-height: 100%;
}

#sentence-content {
	margin-bottom: 45px;
}

#sentence-footer {
	position: absolute;
	bottom: 0; 
	width: 100%;
	height: 40px;
	background-color: #e5e5e6;
}